.header {
  background-color: black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.header__logo {
  width: 25%;
  background-color: black;
  text-align: center;
}
.header__logo a {
  text-decoration: none;
}
.header__logo h1 {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 2em;
  color: white;
  text-decoration: none;
  margin-bottom: 0;
}
.header__logo p {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.3em;
  color: white;
  margin-bottom: 0;
}
.header__nav {
  width: 65%;
  background-color: black;
}
.header__lista {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Manrope", sans-serif;
  letter-spacing: 0.1em;
  padding: 0;
  margin-bottom: 0;
}
.header__lista a {
  color: white;
  text-decoration: none;
}
.header__lista a:hover {
  color: white;
}
.header__shop {
  background-color: black;
  width: 10%;
  text-align: center;
  align-self: center;
  font-size: 1.5em;
  color: white;
}
.header__shop a {
  color: white;
}

.header {
  background-color: black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.header__logo {
  width: 25%;
  background-color: black;
  text-align: center;
}

.header__logo a {
  text-decoration: none;
}

.header__logo h1 {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 2em;
  color: white;
  text-decoration: none;
  margin-bottom: 0;
}

.header__logo p {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.3em;
  color: white;
  margin-bottom: 0;
}

.header__nav {
  width: 65%;
  background-color: black;
}

.header__lista {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Manrope", sans-serif;
  letter-spacing: 0.1em;
  padding: 0;
  margin-bottom: 0;
}

.header__lista a {
  color: white;
  text-decoration: none;
}

.header__lista a:hover {
  color: white;
}

.header__shop {
  background-color: black;
  width: 10%;
  text-align: center;
  align-self: center;
  font-size: 1.5em;
  color: white;
}

.header__shop a {
  color: white;
}

.main {
  background-color: grey;
  background-image: url(../assets/index/moto01.jpg);
  background-repeat: no-repeat;
  height: 170%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.main__contenedor {
  grid-column: 9/12;
  grid-row: 2/4;
}
.main__contenedor h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.7em;
  font-weight: 800;
  font-style: italic;
}
.main__contenedor p {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  line-height: 3;
  text-align: justify;
  letter-spacing: 2px;
}
.main__contenedor2 {
  grid-column: 9/12;
  grid-row: 4/6;
}
.main__contenedor2 h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.7em;
  font-weight: 800;
  font-style: italic;
}
.main__contenedor2 p {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  line-height: 3;
  text-align: justify;
  letter-spacing: 2px;
}

.main {
  background-color: grey;
  background-image: url(../assets/index/moto01.jpg);
  background-repeat: no-repeat;
  height: 170%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.main__contenedor {
  grid-column: 9/12;
  grid-row: 2/4;
}

.main__contenedor h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.7em;
  font-weight: 800;
  font-style: italic;
}

.main__contenedor p {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  line-height: 3;
  text-align: justify;
  letter-spacing: 2px;
}

.main__contenedor2 {
  grid-column: 9/12;
  grid-row: 4/6;
}

.main__contenedor2 h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.7em;
  font-weight: 800;
  font-style: italic;
}

.main__contenedor2 p {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  line-height: 3;
  text-align: justify;
  letter-spacing: 2px;
}

.footer {
  width: 100%;
  height: 20%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer h3 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 1.3em;
  margin: 0;
}
.footer h4 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 1.3em;
  margin: 0;
}
.footer__redes {
  width: 8%;
  display: flex;
  justify-content: space-around;
}
.footer__redes i {
  color: white;
  font-size: 2em;
}

/*# sourceMappingURL=estilos.css.map */
