.footer {
    width: 100%;
    height: 100px;
    background-color: $color-fondo;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__derechos {
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        font-style: italic;
        font-size: 1em;
        margin: 0;
    }
    &__texto {
        @extend .footer__derechos;
    }
    &__redes {
        width: 20%;
        display: flex;
        justify-content: space-around;
        & i {
            color: $color-fuente-primario;
            font-size: 1.5em;
        }
        .insta {
            transition: all .3s;
            &:hover {
                color: #e4405f;
            }
        }
        .face {
            transition: all .3s;
            &:hover {
                color: #4267B2;
            }
        }
        .wpp {
            transition: all .3s;
            &:hover {
                color: #25D366;
            }
        }
    }
}




















