.main {
    &__section {
        width: 90%;
        height: 300px;
        margin: 150px auto;
        display: flex;
        justify-content: space-between;
        .main__imagen1 {
            width: 60%;
            border-radius: 10px;
            background-image: url(../assets/index/imagen1.jpg);
            background-size: cover;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        }
        .main__imagen2 {
            width: 60%;
            border-radius: 10px;
            background-image: url(../assets/index/imagen2.jpg);
            background-size: cover;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        }
    }
    &__article {
        width: 40%;
        margin-left: 5em;
        .main__titulo {
            color: black;
            font-family: $fuente-principal;
            font-size: 2.5em;
            font-style: italic;
            font-weight: 800;
            text-align: center;
            letter-spacing: 1px;
            margin-bottom: 1em;
            text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);

        }
        .main__texto {
            color: black;
            padding: 0 1em;
            font-family: $fuente-secundaria;
            text-align: justify;
            letter-spacing: 2px;
        }
    }
}









