//Variables

//Colores
$color-fuente-primario: white;
$color-fondo: black;

//Fuentes 
$fuente-principal: 'Open Sans', sans-serif;
$fuente-secundaria: 'Manrope', sans-serif;

//Mapa 
$estilos-repuestos: (
    'grosor': 800,
    'estilo': italic,
    'size': 3em
);
