@media screen and (max-width: 320px) {
    .header {
        flex-wrap: wrap;
        &__logo {
            width: 100%;
            & h1 {
            font-size: 1.5em;
            }
            & p {
                font-size: 0.9em;
            }
        }
        &__nav {
            width: 100%;
        }
        &__lista {
            & a {
                font-size: 0.65em;
            }
        }
        &__shop {
            display: none;
        }
    }
    .main__section {
        width: 100%;
        margin: 50px auto;
        .main__imagen1 {
            display: none;
        }
        .main__imagen2 {
            display: none;
        }
        .main__article {
            width: 100%;
            margin: 0;
            .main__titulo {
                font-size: 1.5em;
            }
            .main__texto {
                font-size: 0.8em;
            }
        }
    }
    .footer {
        flex-wrap: wrap;
        &__derechos {
            font-size: 0.7em;
        }
        &__texto {
            font-size: 0.7em;
        }
        &__redes i {
            font-size: 1em;
        }
    }
}