@media screen and (max-width: 320px) {
    .mainmotos {
        grid-template-rows: 4em;
        & p {
            font-size: 1.5em;
        }
    }
    .section {
        margin-top: 2em;
        &__marca {
            margin-top: 0.5em;
            font-size: 1em;
        }
    }
}