.main {
    width: 100%;
    .section__contenedor {
            width: 80%;
            margin: 2em auto;
            
            #contenedorItem {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                .productoMoto {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 1.5em 1em;
                    transition: all 0.2s;
                    &:hover {
                        transform: scale(1.1,1.1);
                    }
                    .itemImagen {
                        width: 100%;
                    }
                    .itemTitulo {
                        font-family: $fuente-principal;
                        font-weight: 800;
                        font-style: italic;
                        text-transform: uppercase;
                        margin: 0;
                    }
                    .itemModelo {
                        font-family: $fuente-secundaria;
                        font-size: 1.3em;
                        letter-spacing: 2px;
                    }
                    .itemPrecio {
                        font-family: $fuente-secundaria;
                        font-weight: bold;
                        font-size: 1.3em;
                    }
                    .contenedorBoton {
                        width: 80%;
                        display: flex;
                        align-items: center;
                        .itemBoton {
                            width: 50%;
                            margin: auto;
                            font-family: $fuente-principal;
                            font-weight: 800;
                            font-style: italic;
                            background-color: black;
                            color: white;
                            border: 1px solid black;
                            border-radius: 5px;
                        }
                    }
                }
            }
        
        }
}

