.servicios {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__titulos {
        width: 90%;
    }
    &__titulo1 {
        width: 60%;
        margin: 2em auto 0.2em auto;
        text-align: center;
        font-size: 1.5em;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-style: italic;
    }
    &__titulo2 {
        width: 60%;
        margin: 0 auto 2em auto;
        text-align: center;
        font-size: 1.3em;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-style: italic;
    }
    &__contenedor {
        width: 40%;
        margin: 1em 0 5em 0;
        display: flex;
        justify-content: center;
        font-family: 'Manrope', sans-serif;
        text-transform: uppercase;
    }
    &__form {
        width: 90%;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }
    &__fieldset {
        text-align: center;
        border: 2px solid black;
        & legend {
            margin: auto;
        font-size: 1.2em;
        padding: 0 1em;
        }
        & p {
            margin-top: 3em;
            display: flex;
            flex-direction: column;
            font-size: 1.1em;
            & label {
                margin-bottom: 0.7em;
            }
            & input {
                width: 60%;
                margin: auto;
                text-align: center;
            }
            & textarea {
                width: 60%;
                margin: auto;
            }
        }
        
    }
    &__boton {
        width: 100%;
        margin: 0;
        text-align: center;
        & input {
            margin: 1em 0;
            width: 60%;
            background-color: black;
            color: white;
            border-radius: 10px;
            border-color: black;
        }
    }

}
